body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(45deg, #289e92, #c22a2c);
    background-repeat: repeat-y;
    height:max-content
}

.containerQ{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow-x: auto;
    background-color: #f8f8f8;
}

h2{
    text-transform: uppercase;
    background-color: #ddd;
    justify-content: center;
}

.btn-custom{
    background-color: #c22a2c;
    color: antiquewhite;
} 

.containerB{
    padding-top: 30px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow-x: auto;
    background-color: black;
}
 /* VEEEEEER*/

.data-section {
    margin-bottom: 20px;
}

/* Estilos para las etiquetas de datos */
.data-label {
    font-weight: bold;
    color: #0066cc;
}

/* Estilos para los datos */
.data-value {
    margin-bottom: 10px;
}


.tableA caption{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px;
}

.tableA tr{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}




.tableA thead th{
    text-transform: uppercase;
    background-color: #ddd;
}

.tableA tbody tr:hover{
    background-color: rgba(252, 252, 252, 0.84);
    text-decoration-color: #f8f8f8;
}

.tableA tbody td:hover{
    background-color:  rgba(252, 252, 252, 0.84);
}



.containerQ{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow-x: auto;
}

    .tableA{
        border: 0px;
    }
    .tableA caption{
        font-size: 22px;
    }
    .tableA thead{
        display: none;
    }
    
    .tableA tr {
        margin-bottom: 8px;
        border-bottom: 1px solid #ccc;
        display: block;
        text-align: left;
    }

    .tableA td{
        margin: 50px;
        width: 100%;
        font-size: 12px;
    }

    .tableA td {
        display: block;
        border-bottom: 1px solid #ccc;
        text-align: right;
    }

    .encabezado{
        width: 50px;
        background-color: aqua;
    }

    .tableA td:last-child{
        border: 0px;
    }

    .tableA td::before{
        content: attr(data-label);
        text-transform: uppercase;
        float: left;
    }

