body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.containerQ{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow-x: auto;
}

.tableA{
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    /*table-layout: fixed;*/
}

.tableA caption{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px;
}

.tableA tr{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.tableA td{
    font-size: 12px;
    padding: 2px;
    text-align: center;
}

.tableA th{
    font-size: 12px;
    padding: 2px;
    text-align: center;
}



.tableA thead th{
    text-transform: uppercase;
    background-color: #ddd;
}

.tableA tbody tr:hover{
    background-color: rgba(252, 252, 252, 0.84);
    text-decoration-color: #f8f8f8;
}

.tableA tbody td:hover{
    background-color:  rgba(252, 252, 252, 0.84);
}


@media screen and (max-width: 600px) {
    .tableA{
        border: 0px;
    }
    .tableA caption{
        font-size: 22px;
    }
    .tableA thead{
        display: none;
    }
    
    .tableA tr {
        margin-bottom: 8px;
        border-bottom: 1px solid #ccc;
        display: block;
    }

    .tableA th .tableA td{
        font-size: 12px;
    }

    .tableA td{
        display: block;
        border-bottom: 1px solid #ccc;
        text-align: right;
    }

    .tableA td:last-child{
        border: 0px;
    }

    .tableA td::before{
        content: attr(data-label);
        text-transform: uppercase;
        float: left;
    }
}
