/* Estilos generales del formulario */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para etiquetas de formulario */
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Estilos para campos de entrada de texto */
  input[type="text"],
  input[type="date"],
  input[type="tel"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Estilos para el botón de envío */
  button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para el botón de envío al pasar el cursor */
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para los div contenedores de campos */
  div {
    margin-bottom: 15px;
  }
  
  /* Estilos para el campo de selección (accesibilidad) */
  select {
    width: 100%;
  }
  
  /* Estilos para el encabezado de la página */
  h1 {
    text-align: center;
    font-size: 24px;
    color: #007BFF;
  }
  
  /* Estilos para los mensajes de error (si los necesitas) */
  .error {
    color: #ff0000;
  }
  