body{
    background: linear-gradient(45deg, #289e92, #c22a2c);
    background-repeat: no-repeat;
    height: max
}
h1{
    color: antiquewhite;
    font-style: oblique;
}
.btn-custom{
    background-color: #c22a2c;
    color: antiquewhite;
}

.custom-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-label {
    color: #c22a2c;
    font-weight: bold;
}

.custom-input {
    width: 90%;
}

.custom-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #c22a2c;
}

.custom-table th, .custom-table td {
    padding: 10px;
    border: 2px solid #c22a2c;
    text-align: center;
    color: antiquewhite;
    font-style: oblique;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 100%;
    width: 30%;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3498db;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #f3f3f3;
    color: #289e92;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin: 0;
}



.footer-images {
display: flex;
justify-content: center;
align-items: center; 
}

.footer-images img {
width: 50px; 
height: 50px; 
margin: 0 10px; 
}
footer h5 {
    font-weight: 650; 
}
footer h4 {
    font-weight: bold; 
}

